@import 'variables';

.team {
    display: flex;
    flex-direction: row;
    margin: 1rem;    

}
.teamPhoto img {
    border-radius: 50%;
    padding: 1rem;
    max-width: 100%;
}
.teamText p {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    background-color: @black;
    color: @white;
    border-radius: 10px;

}