@import 'variables';

.section{
    padding:20px 0;
    font-size: 1.7rem;
}
.section h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
  
.section-b{
    background: @black;
    color: @white;
  }
  
@media(max-width:960px){
    .container{
      padding-right:3rem;
      padding-left:3rem;
    }
  }
