.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #dce2ed;
}
.container {
  max-width: 960px;
  padding: 1rem;
  margin: auto;
  text-align: center;
}
.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.fullscreen-video-wrap .video {
  min-width: 100%;
  min-height: 100%;
}
.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: linear-gradient(rgba(26, 133, 176, 0.35), rgba(26, 133, 176, 0.55), #1a85b0);
}
.header-content {
  z-index: 2;
}
.header-content h1 {
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
.header-content p {
  font-size: 2.5rem;
  display: block;
  padding-bottom: 6rem;
}
.btn {
  background: #5ec5f0;
  color: #dce2ed;
  font-size: 3rem;
  padding: 1rem 3rem;
  text-decoration: none;
}
