@import "variables";
@import "animations";

nav {
  position: fixed !important;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  color: @white;
  background: fade(@black, 80%);
  z-index: 1000;

  .logo h4 a {
    font-size: 2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: @white;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;

    @media (max-width: 1000px) {
      width: 40vw;
    }

    @media (max-width: 800px) {
      position: absolute;
      right: 0px;
      top: 8vh;
      height: 92vh;
      width: 60%;
      background: fade(@black, 80%);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transform: translateX(100%);
      transition: transform .5s ease-in;
    }
    
    .link {
      letter-spacing: .1rem;
      text-transform: uppercase;
      font-size: 1.5rem;

      @media (max-width: 800px) {
        opacity: 0;
      }
      
      a {
        color: @white;
        text-decoration: none;
      }
    }
  }

  .nav-active {
    transform: translateX(0);
  }

  .cta {
    padding: 10px 20px;
    border: 3px solid @blue;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
      background: @green;
      border: 3px solid @white;
    }
  }

  .burger {
    display: none;

    @media (max-width: 800px) {
      display: block;
      cursor: pointer;
    }

    div {
      width: 25px;
      height: 3px;
      background: @white;
      margin: 5px;
    }
  }
}

