@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideInBottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInBottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
nav {
  position: fixed;
  width: 100%;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 8vh;
  color: #dce2ed;
  background: rgba(57, 68, 78, 0.8);
  z-index: 1000;
}
.nav .logo a img {
  height: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: slideInRight 0.5s backwards 2.75s;
  animation: slideInRight 0.5s backwards 2.75s;
}
.nav .logo a img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30vw;
  -webkit-animation: slideInLeft 0.5s ease-out backwards 0.75s;
  animation: slideInLeft 0.5s ease-out backwards 0.75s;
}
@media (max-width: 1000px) {
  .nav .nav-links {
    width: 40vw;
  }
}
@media (max-width: 800px) {
  .nav .nav-links {
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 80vh;
    width: 70%;
    background: rgba(57, 68, 78, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    -webkit-animation: none;
    animation: none;
  }
}
.nav .nav-links .link {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 2% 0;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media (max-width: 800px) {
  .nav .nav-links .link {
    opacity: 0;
  }
}
.nav .nav-links .link a {
  color: #dce2ed;
  text-decoration: none;
}
.nav .nav-links .link a:not(:last-child):hover {
  color: #89c732;
}
.nav .nav-links .link:not(:last-child):hover {
  border-bottom: 3px solid #89c732;
  border-top: 3px solid #89c732;
}
.nav .nav-links .cta {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #22b3eb;
  cursor: pointer;
  border-radius: 15px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.nav .nav-links .cta:hover {
  background: #89c732;
  color: #39444e;
  -webkit-transform: translateY(-3px) scale(1.01);
  transform: translateY(-3px) scale(1.01);
  -webkit-box-shadow: 0 1.2rem 2.2rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 1.2rem 2.2rem rgba(0, 0, 0, 0.5);
}
.nav .nav-links .cta:active {
  -webkit-transform: translateY(-1px) scale(1);
  transform: translateY(-1px) scale(1);
}
.nav .nav-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav .burger {
  display: none;
}
@media (max-width: 800px) {
  .nav .burger {
    display: block;
    cursor: pointer;
    -webkit-animation: slideInLeft 0.5s ease-out backwards 3s;
    animation: slideInLeft 0.5s ease-out backwards 3s;
  }
}
.nav .burger div {
  width: 25px;
  height: 3px;
  background: #dce2ed;
  margin: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.nav .toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}
.nav .toggle .line2 {
  opacity: 0;
}
.nav .toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}
